* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#615dad, #ffc8da);
  min-height: 100vh;
  margin: 0 auto;
  max-width: 80vmin;
  color: #ffffff;
}

.home {
  background-color: #1fcca4;
  border-radius: 5px;
  padding: 8px;
  display: inline-block;
}

.home:hover {
  background-color: #1cbb96;
}

.restart {
  background-color: #0197f6;
  border-radius: 15px;
  padding: 8px;
  display: inline-block;
}

.restart:hover {
  background-color: #0090e9;
}

img {
  width: 27px;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 76px;
  margin: 0;
  text-shadow: 0 3px 10px #615dad;
}

p {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;

}

button {
  flex-basis: 10%;
  height: 8vmin;
  border: 1px solid black;

}
