* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#615dad, #ffc8da);
  min-height: 100vh;
  margin: 0 auto;
  max-width: 80vmin;
  color: #ffffff;
  padding: 50px 0;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 68px;
  margin: 0;
  text-shadow: 0 3px 10px #615dad;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0;
  font-family: sans-serif;
}

p {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}

.home,
.restart {
  border-radius: 5px;
  padding: 8px;
  display: inline-block;
}

.home {
  background-color: #1fcca4;
}

.home:hover,
.home:focus {
  background-color: #1cbb96;
}

.restart {
  background-color: #0197f6;
}

.restart:hover,
.restart:focus {
  background-color: #0090e9;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: relative;
}

main {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 100%;
}

main button {
  flex-basis: 10%;
  height: 8vmin;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative;
  cursor: pointer;
  color: black;
}

main button:hover,
main button:focus {
  background: rgba(255, 255, 255, 0.6);
}

.board__field--circle::after {
  content: "";
  display: block;
  width: 50%;
  height: 50%;
  border: 5px solid currentColor;
  border-radius: 50%;
  animation-duration: 0.2s;
  animation-name: krouzek;
}

@keyframes krouzek {
  from {
    width: 0;
    height: 0;
  }

  to {
    width: 50%;
    height: 50%;
  }
}

.board__field--cross::after,
.board__field--cross::before {
  display: block;
  content: "";
  width: 70%;
  height: 5px;
  background-color: currentColor;
  animation-duration: 0.2s;
  animation-name: krizek;
}

.board__field--cross::after {
  transform: rotate(45deg);
  position: absolute;
}

.board__field--cross::before {
  transform: rotate(-45deg);
}

@keyframes krizek {
  from {
    width: 0;
    height: 0;
  }

  to {
    width: 70%;
    height: 5px;
  }
}
